<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>JSLINT</string>
	<key>ordering</key>
	<array>
		<string>A5505A60-608C-4E99-A363-0C2E44C5ED95</string>
		<string>478742D1-030A-4613-AA09-1FC3551AFFE7</string>
		<string>73C3F17F-F39C-423B-B120-F7CE3D16B107</string>
		<string>E462AC8A-1E8E-4F21-AE95-44DCA93C52FF</string>
	</array>
	<key>uuid</key>
	<string>091BCD49-B987-4749-BACE-04C4F5077ED1</string>
</dict>
</plist>
